.badge-color-picker__wheel {
  background: conic-gradient(
    #f46021,
    #f9b73b,
    #2e9d51,
    #38c5f6,
    #1f72ff,
    #9038fc,
    #f46021
  );
  background: conic-gradient(
    in oklch,
    #f46021,
    #f9b73b,
    #2e9d51,
    #38c5f6,
    #1f72ff,
    #9038fc,
    #f46021
  );
}

.badge-color-picker .react-colorful {
  width: 100%;
  height: 148px;
}

.badge-color-picker .react-colorful__saturation {
  border-radius: 8px;
  border-bottom: none;
}

.badge-color-picker .react-colorful__hue {
  height: 14px;
  margin-top: 10px;
  border-radius: 8px;
}

.badge-color-picker .react-colorful__pointer {
  width: 14px;
  height: 14px;
}

.badge-color-picker .react-colorful__hue-pointer {
  width: 10px;
  height: 18px;
  border-radius: 6px;
}
